Port 22
AddressFamily any
HostKey /data/adb/modules/sshd_autostart/etc/ssh_host_ed25519_key
AuthorizedKeysFile /data/adb/modules/sshd_autostart/etc/authorized_keys
PermitRootLogin prohibit-password
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
#UsePAM no
StrictModes no
PrintMotd no
AllowTcpForwarding yes
X11Forwarding no
Subsystem sftp /data/adb/modules/sshd_autostart/libexec/sftp-server

# Android: 排除在本机构建下 KEX 阶段失败的算法
KexAlgorithms ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256
# 兼容仅支持 ssh-rsa(SHA-1) 签名的旧客户端
PubkeyAcceptedAlgorithms +ssh-rsa
HostkeyAlgorithms +ssh-rsa
